.nav-top {
  height: 60px; }
  .nav-top .logo {
    padding: 20px;
    float: left; }
  .nav-top button {
    display: none; }
  .nav-top ul {
    padding: 20px; }
    .nav-top ul li {
      display: inline;
      padding: 20px;
      line-height: 20px; }

@media all and (max-width: 768px) {
  .nav-top button {
    display: block; }
  .nav-top ul {
    display: none; }
    .nav-top ul li {
      display: block; } }
