.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.grid {
  float: left;
  padding: 20px;
  min-height: 1px; }

.grid-flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px; }

.one-fifth {
  width: 20%; }

.one-quarter {
  width: 25%; }

.one-third {
  width: 33.33%; }

.two-fifths {
  width: 40%; }

.one-half {
  width: 50%; }

.three-fifths {
  width: 60%; }

.two-thirds {
  width: 66.67%; }

.three-quarters {
  width: 75%; }

.four-fifths {
  width: 80%; }

.whole {
  width: 100%; }
