*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.grid {
  float: left;
  padding: 20px;
  min-height: 1px; }

.grid-flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%; }

.grid-flex * {
  padding: 20px; }

.one-fifth {
  width: 20%; }

.one-quarter {
  width: 25%; }

.one-third {
  width: 33.33%; }

.two-fifths {
  width: 40%; }

.one-half {
  width: 50%; }

.three-fifths {
  width: 60%; }

.two-thirds {
  width: 66.67%; }

.three-quarters {
  width: 75%; }

.four-fifths {
  width: 80%; }

.whole {
  width: 100%; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  margin: 0 auto; }

.clear {
  content: "";
  display: block;
  clear: both; }

@media all and (max-width: 768px) {
  .grid-flex * {
    width: 100%; } }

@media all and (min-width: 768px) {
  .wrapper {
    max-width: 750px; } }

@media all and (min-width: 1024px) {
  .wrapper {
    max-width: 1000px; } }
