//Setting the possible widths for elements - fraction based.

.one-fifth {
  width: 20%;
}

.one-quarter {
	width: 25%;
}

.one-third {
  width: 33.33%;
}

.two-fifths {
  width: 40%;
}

.one-half {
	width: 50%;
}

.three-fifths {
  width: 60%;
}

.two-thirds {
  width: 66.67%;
}

.three-quarters {
  width: 75%;
}

.four-fifths {
  width: 80%;
}

.whole {
	width: 100%;
}
