*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.boundary {
  width: 90%;
  max-width: $large-boundary;
  margin: 0 auto;
  height: 100%;
  @media (max-width: $medium){
    width: 90%;
  }
}

.grid {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.block {
  padding: $spacing;
  @media all and (max-width: $medium){
    padding: $spacing/2 0;
  }
}

//Setting the possible widths for elements - fraction based.

.one-fifth {
  width: 20%;
}

.one-quarter {
	width: 25%;
}

.one-third {
  width: 33.33%;
}

.two-fifths {
  width: 40%;
}

.one-half {
	width: 50%;
}

.three-fifths {
  width: 60%;
}

.two-thirds {
  width: 66.67%;
}

.three-quarters {
  width: 75%;
}

.four-fifths {
  width: 80%;
}

.whole {
	width: 100%;
}

//Helper classes

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  margin: 0 auto;
}

.clear {
  content: "";
  display: block;
  clear: both;
}

//Flexbox utils

.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-jcs {
  justify-content: flex-start;
}

.fx-jce {
  justify-content: flex-end;
}

.fx-jcc {
  justify-content: center;
}

.fx-jcsb {
  justify-content: space-between;
}

.fx-jcsa {
  justify-content: space-around;
}

.fx-ais {
  align-items: flex-start;
}

.fx-aie {
  align-items: flex-end;
}

.fx-aic {
  align-items: center;
}



.fx-wrap {
  flex-wrap: wrap;
}

//Responsive breakpoints

@media all and (max-width: $medium){

  .grid * {
    width: 100%;
  }
}

@media all and (min-width: $large){

  .boundary {
    max-width: $large-boundary;
  }

}
