$small: 320px;
$small-boundary: 300px;
$medium: 768px;
$medium-boundary: 750px;
$large: 1024px;
$large-boundary: 1000px;
$spacing: 15px;
$spacing-small:  10px;
$nav-top-height: 60px;
$color-primary: #ffffff;
